code {
    background-color: #eeeeee;
    padding-left: 10px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 24px;
} /* fim h1 */

form {
    display: block;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: midnightblue;
    text-align: center;
    margin-bottom: 4px;
    font-weight: bold;
}
.titulo1 {
    font-size: 22pt;
}
.titulo3 {
    font-size: 16pt;
}

.texto-simples {
    text-align: justify;
    font-size: 12pt;
}

.botao {
    text-decoration: unset;
    color: #000;
    font-weight: bold;
    padding: 4px;
}

.botao-secondario {
    background-color: rgb(176, 176, 176);
}

.botao-primário {
    background-color: rgb(53, 50, 179);
    color: white;
}

.bg-primary {
    background-color: rgb(187, 223, 255);
}

.bg-secondary {
    background-color: rgb(192, 192, 192);
}

.bg-success {
    background-color: rgb(200, 255, 197);
}

.bg-danger {
    background-color: rgb(255, 172, 172);
}

.menu {
    background-color: #eeeeee;
    list-style: none;
    margin: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
}

.menu-inline {
    display: flex;
}

.menu .menu-item {
    padding: 4px;
}

.container {
    margin: 4px;
    align-items: center;
}

.linha {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 4px;
    padding: 5px;
    width: auto;
    height: auto;
    text-align: center;
}
.card>.card-img, .card>img {
    width: 200px;
    height: 200px;
}

.card .card-title{
    font-weight: bold;
    text-align: center;
}

.card .card-body{
   
}
